$left-width: 50px;
$right-width: 50px;
$margin-top: 6px;

.options {
  background: white;
  height: 50px;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 25px;
  .dd-items-container {
    .dd-items {
      float: right;
    }
  }
}

.news-item-container {
  padding: 8px;
  background: white;
  border-radius: 10px;
  &:not(:last-child) {
    // border-bottom: 1px solid #92a1a7;
    margin-bottom: 15px;
  }
  .news-item {
    .index {
      float:left;
      width: $left-width;
      margin-top: $margin-top;
    }
    .news-container {
      margin-left: $left-width;
      margin-right: $right-width;
      .news-title-container {
        font-size: large;
        .news-title {
          cursor:pointer;
        }
      }
      .news-data-container {
        font-size: 12px;
        color:#92a1a7;
      }
    }
    .points-container {
      margin-top: $margin-top;
      text-align: center;
      float: right;
      width: $right-width;
      cursor: pointer;
      .points-icon {
        font-size: large;
      }
    }
  }
}

.pagination-container {
  text-align: center;
}

.btn-inverted {
  color: #fff;
  background-color: #666;
  border-color: #666;
  &:hover{
    background-color: #333 !important;
    border-color: #333 !important;
  }
  &:focus{
    background-color: #333 !important;
    border-color: #333 !important;
  }
}