<div class="options">
  <div class="dd-sortby-container">
    <div class="dd-sortby btn-group" dropdown>
      <button id="single-button" type="button" class="btn btn-inverted" dropdownToggle>
        Sort By <span class="caret"></span>
      </button>
      <ul dropdownMenu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a class="dropdown-item" (click)="sortBy('created_at')">Date/Time (old to new)</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="sortBy('created_at',true)">Date/Time (new to old)</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="sortBy('num_points')">Points (low to high)</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="sortBy('num_points',true)">Points (high to low)</a></li>
      </ul>
    </div>
  </div>
  <div class="dd-items-container">
    <div class="dd-items btn-group" dropdown>
      <button id="single-button" type="button" class="btn btn-inverted" dropdownToggle>
        News per page <span class="caret"></span>
      </button>
      <ul dropdownMenu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a class="dropdown-item" (click)="newsPerPageChanged(5)">5</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="newsPerPageChanged(10)">10</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="newsPerPageChanged(20)">20</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="newsPerPageChanged(50)">50</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="newsPerPageChanged(-1)">All</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div *ngIf="newsList?.length > 0">
      <div [ngClass]="{'news-item-container':news.id}" *ngFor="let news of newsList | slice: 1 + ((bigCurrentPage - 1) * itemsOnPage) : (bigCurrentPage * itemsOnPage) + 1; let i = index">
        <div *ngIf="news.id" class="news-item">
          <div class="index">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inverse fa-stack-1x">{{i + (bigCurrentPage * itemsOnPage) - (itemsOnPage - 1)}}</i>
            </span>
          </div>
          <div class="points-container" (click)="increasePoints(news)">
            <div class="points-icon fa fa-thumbs-o-up" aria-hidden="true"></div>
            <div class="points-count">{{news.num_points}}</div>
          </div>
          <div class="news-container">
            <div class="news-title-container">
              <a [href]="news.url">
                <label class="news-title">{{news.title}}</label>
              </a>
            </div>
            <div class="news-data-container">
              <p class="news-date">by {{news.author}} | {{news.created_at | date:'medium'}} | {{news.num_comments}} comments</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination-container">
  <pagination [totalItems]="bigTotalItems" [itemsPerPage]="itemsOnPage" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
    [boundaryLinks]="true"></pagination>
</div>